<div>
    <h1>Hola {{nombres}}!</h1>
    {{!-- "apellidos": "Pechet",
    "email": "apechet3@unicef.org",
    "telefono": "402-361-3310",
    "edad": 54 --}}
    <h3>apellidos: {{apellidos}}</h3>
    <h3>email: {{email}}</h3>
    <h3>telefono: {{telefono}}</h3>
    <h3>edad: {{edad}}</h3>
</div>
<script src="js/index.js"></script>