<div>
    <h1>Buenas {{user.nombres}}</h1>
    {{#if user.isAdmin}}
        {{!-- Para que funcion #each userList debe ser un iterable --}}
        {{#each userList}}
            <div>
                <p>=====================//=====================</p>
                <h3>apellidos: {{this.apellidos}}</h3>
                <h3>email: {{this.email}}</h3>
                <h3>telefono: {{this.telefono}}</h3>
                <h3>edad: {{this.edad}}</h3>
            </div>
        {{/each}}
    {{else}}
        <p>No sos admin, salí de acá!</p>
    {{/if}}
</div>
<script src="js/index.js"></script>